.users {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .ull {
    list-style: none;
    padding: 1rem;
  }
  
  .lii {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;

  }